.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: #3c0a78;
    -fx-background: #dcdcc8;
}

.button1{
    -fx-text-fill: #3c0a78;
    -fx-background-color: #960a96;
}

.bordered{
    -fx-border-color: #ff0000;
    -fx-border-width: 2;
    -fx-border-style: solid;
}