.GDReportFooter {
	font-family: sans-serif;
	font-size: x-small;
	color: gray	
}
.GDFooter {
	font-family: sans-serif;
	font-size: x-small;
	color: gray	
}

.GDReportHeader {
	font-family: sans-serif;
	font-size: xx-large;
	font-weight: bold;
	color: gray
}
.GDHeader {
	font-family: sans-serif;
	font-size: xx-large;
	color: gray
}

.GDTableHeader {	
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	text-align: left;
	color: gray	
}

.GDLabelHeader {
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: left;
	color:	gray
}

.GDLabelText {
	font-family: sans-serif;
	font-size: large;
	font-weight: bold;
	text-align: left;
	color:	navy
}

.GDTableText {
	font-family: sans-serif;
	font-size: x-small;
	color: navy
}